@import "tailwindcss";

@theme {
  --color-blue-800: #0D2B4A;
  --color-blue-900: #0A2540;
  --color-orange-500: #F27D26;
  --font-sans: var(--font-inter);
  --font-display: var(--font-space);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}